@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Playfair+Display&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
	margin-bottom: 40px;
}

h2 {
	font-size: 46px;
}

h3 {
	font-size: 38px;
}

.title-sm {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin-bottom: 20px;
}

section img {
	width: 100%;
	height: auto;
}