@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'scss/typo';

* {
  box-sizing: border-box;
}

main {
  position: relative;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  @apply px-10;
}

.g-nav {
  h1 {
    font-size: 18px;
    mbà 
  }
}

.header-main {
  padding-top: 80px;
  padding-bottom: 80px;

  figure {
    position: relative;
    display: block;
    height: calc(100vh - 80px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

    img, iframe {
      display: block;
      height: 100%;
      width: 100%;
      transform: scale(1.6);
      pointer-events: none;
    }
  }
}

.s-who {
  img {
    width: 100%;
    height: auto;
  }
}